/*公共样式*/
.input-text-style-3{ width: 255px; padding: 5px 0; height: 21px; line-height: 21px; border:1px solid #dcdcdc; border-radius: 3px; font-size: 14px; color: #333; padding-left: 43px;
transition-property: border;
transition-duration: 0.2s;
transition-timing-function: ease;
}
.input-text-style-3:hover{ border:1px solid #ff9241;
transition-property: border;
transition-duration: 0.2s;
transition-timing-function: ease;
}
.input-text-style-3:focus{ border:1px solid #e74849;
transition-property: border;
transition-duration: 0.2s;
transition-timing-function: ease;
}
.select-style-3{ width: 255px; padding: 11px 0; height: 42px; line-height: 42px; border:1px solid #dcdcdc; border-radius: 3px; font-size: 14px; color: #333; padding-left: 10px;}
.rcf-txt-value-select-ie6{_height:30px; _padding-top:10px;}
.input-submit-style-3{ cursor: pointer; background:none; background-color: #e43737; border:none; width: 300px; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 14px; border-radius: 3px; 
transition-property: background-color;
transition-duration: 0.2s;
transition-timing-function: ease;
}
.input-submit-style-3:hover{background-color: #d23433;
transition-property: background-color;
transition-duration: 0.2s;
transition-timing-function: ease;
}
.icon-login_register{ display: inline-block; background:url(../img/Topics/login_sprite.png) no-repeat;}
.input-checkbox-style-3{ border:none; background: none; background-color: #fff; width: 13px; height: 13px; overflow: hidden; border:1px solid #ddd;}
.icon-qq{width:19px; height:22px; background-position: 0px -59px;}
.icon-sina{width:24px; height:20px; background-position: 0px -81px;}
.old-icon-sina{background:url(../img/icon_sprite.gif) no-repeat;width:19px;height:16px}






